<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.project.mapper.FeedbackMapper">

    <resultMap id="BaseResultMap" type="com.app.project.model.entity.Feedback">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="responseText" column="responseText" jdbcType="VARCHAR"/>
            <result property="responseUserId" column="responseUserId" jdbcType="BIGINT"/>
            <result property="responseUserName" column="responseUserName" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,image,
        userId,status,responseText,
        responseUserId,responseUserName,createTime,
        updateTime,isDelete
    </sql>
</mapper>
