<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.project.mapper.JobApplicationMapper">

    <resultMap id="BaseResultMap" type="com.app.project.model.entity.JobApplication">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="jobId" column="jobId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="enterpriseId" column="enterpriseId" jdbcType="BIGINT"/>
            <result property="interviewTime" column="interviewTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="fileList" column="fileList" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="auditExplain" column="auditExplain" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,jobId,userId,enterpriseId,
        interviewTime,status,fileList,
        remark,auditExplain,createTime,
        updateTime,isDelete
    </sql>
</mapper>
