<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.project.mapper.JobPostMapper">

    <resultMap id="BaseResultMap" type="com.app.project.model.entity.JobPost">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="salary" column="salary" jdbcType="VARCHAR"/>
            <result property="requirement" column="requirement" jdbcType="VARCHAR"/>
            <result property="workAddress" column="workAddress" jdbcType="VARCHAR"/>
            <result property="rejectReason" column="rejectReason" jdbcType="VARCHAR"/>
            <result property="maxCount" column="maxCount" jdbcType="INTEGER"/>
            <result property="expirationTime" column="expirationTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,title,
        description,salary,requirement,rejectReason,
        workAddress,maxCount,expirationTime,
        status,createTime,updateTime,
        isDelete
    </sql>
</mapper>
