<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.project.mapper.SalaryMapper">

    <resultMap id="BaseResultMap" type="com.app.project.model.entity.Salary">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="enterPriseId" column="enterPriseId" jdbcType="BIGINT"/>
            <result property="salaryType" column="salaryType" jdbcType="VARBINARY"/>
            <result property="periodDate" column="periodDate" jdbcType="VARCHAR"/>
            <result property="workDuration" column="workDuration" jdbcType="VARCHAR"/>
            <result property="performance" column="performance" jdbcType="VARCHAR"/>
            <result property="salaryAmount" column="salaryAmount" jdbcType="VARCHAR"/>
            <result property="issueStatus" column="issueStatus" jdbcType="TINYINT"/>
            <result property="issueTime" column="issueTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,enterPriseId,
        salaryType,periodDate,workDuration,
        performance,salaryAmount,issueStatus,
        issueTime,createTime,updateTime,
        isDelete
    </sql>
</mapper>
